<meta charset="utf-8" />
<title>
    Seance
</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="og:title" content="Seance for Ghost" />
<meta name="description" content="A contact form for a Ghost-powered blog. See https://github.com/CorySanin/seance" />
<meta name="og:description" content="A contact form for a Ghost-powered blog. See https://github.com/CorySanin/seance" />
<link rel="stylesheet" href="/assets/css/styles.css?v1">